<%- include("templates/header") %>
<div class="container">
  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      id="floatingInput"
      placeholder="Username"
    />
    <label for="floatingInput">Username</label>
  </div>
  <div class="form-floating mb-3">
    <input
      type="email"
      class="form-control"
      id="floatingInput"
      placeholder="name@example.com"
    />
    <label for="floatingInput">Email address</label>
  </div>
  <div class="form-floating mb-3">
    <input
      type="password"
      class="form-control"
      id="floatingPassword"
      placeholder="Password"
    />
    <label for="floatingPassword">Password</label>
  </div>
  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      id="floatingPassword"
      placeholder="Primary gaming platform"
    />
    <label for="floatingPassword">Primary gaming platform</label>
  </div>
  <form action="/saveProfile" method="POST">
    <button class="w-100 btn btn-lg btn-primary" type="submit">Save</button>
  </form>
</div>
<%- include("templates/footer") %>
