<%- include("templates/header") %>
<div class="container">
  <form action="/saveProfile" method="POST">
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        id="floatingInput"
        name="username"
        value="<%= username %>"
        readonly
      />
      <label for="floatingInput">Username</label>
    </div>
    <div class="form-floating mb-3">
      <input
        type="email"
        class="form-control"
        id="floatingInput"
        value="<%= email %>"
        readonly
      />
      <label for="floatingInput">Email</label>
    </div>
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        id="floatingPassword"
        placeholder="Primary gaming platform"
        name="primaryGamingPlatform"
      />
      <label for="floatingInput">Primary gaming platform</label>
    </div>
    <div class="form-floating mb-3">
      <input
        type="password"
        class="form-control"
        id="floatingPassword"
        placeholder="Password"
        name="password"
      />
      <label for="floatingPassword">Password</label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Save</button>
  </form>
</div>
<%- include("templates/footer") %>
