<%- include("templates/header") %>
<div class="container">
  <h3>Hello <%= username %>,</h3>
  </br>
  <button onclick="location.href='/createProfile'" class="w-100 btn btn-lg btn-primary" type="submit">Create Profile</button>
</div>
<%- include("templates/footer") %>
