<!DOCTYPE html>
<html>

<head>
  <title>Login</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <style>
    body {
      background-color: #1A1A1A;
    }

    .container {
      max-width: 360px;
      margin: 0 auto;
      padding-top: 100px;
    }

    .login-block {
      background-color: #9F9D9D;
      padding: 20px;
      border-radius: 5px;
    }

    h1 {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 20px;
      color: #000000;
    }

    .form-group {
      margin-bottom: 20px;
    }

    label {
      font-size: 16px;
      font-weight: bold;
      color: #000000;
    }

    input[type="text"],
    input[type="password"] {
      width: 100%;
      padding: 10px;
      font-size: 16px;
      border-radius: 5px;
      border: 1px solid #000000;
      color: #000000;
    }

    button[type="submit"] {
      width: 100%;
      padding: 10px;
      font-size: 16px;
      border-radius: 5px;
      border: none;
      background-color: #007bff;
      color: #1A1A1A;
      cursor: pointer;
    }

    p {
      font-size: 14px;
      margin-top: 20px;
      text-align: center;
      color: #000000;
    }

    a {
      color: #007bff;
      text-decoration: none;
    }
  </style>
</head>

<body>
  <div class="container">
    <div class="login-block">
      <h1>Login</h1>
      <form method="POST" action="/loggingin" class="mt-4">
        <div class="form-group">
          <label for="username">Email:</label>
          <input type="text" id="email" name="email" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
      <p class="mt-3">Don't have an account? <a href="/signup">Sign up here</a>.</p>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>