<!DOCTYPE html>
<html>
  <head>
    <title>Game Wishlist</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <style>
      body {
        background-color: #1A1A1A;
      }

      .container {
        max-width: 360px;
        margin: 0 auto;
        padding-top: 20px;
      }

      .wishlist-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
      }

      .wishlist-title {
        font-size: 25px;
        font-weight: bold;
        color: #9F9D9D;
        /* align-items: center; */
        text-align: center;
        margin-top: 7%;
      }

      .profile-button {
        border: none;
        background-color: transparent;
        padding: 0;
        cursor: pointer;
        margin-right: -6%;
        margin-top: 2%;
      }

      .profile-button img {
        width: 68px;
        height: 68px; 
      }

      .home-button {
        border: none;
        background-color: transparent;
        padding: 0;
        cursor: pointer;
        margin-left: -4%;
        margin-top: 2%;
      }

      .home-button img {
        width: 55px;
        height: 55px; 
      }

      .wishlist-card {
        background-color: #9F9D9D;
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 5px;
        display: flex;
      }

      .wishlist-card img {
        width: 1in;
        height: 1in;
        border-radius: 5px;
      }

      .wishlist-card-content {
        flex-grow: 1;
        margin-left: 10px;
      }

      .wishlist-card h4 {
        margin-top: 0;
        font-size: 16px;
        font-weight: bold;
        color: #000000;
      }

      .wishlist-card p {
        margin-bottom: 5px;
        font-size: 14px;
        color: #000000;
      }
    </style>
  </head>
  <body>
    <div class="container">
        <div class="wishlist-header">
            <button class="home-button" onclick="goHome()"><img src="home.jpg" alt="Home"></button>
            <h1 class="wishlist-title">Wishlist</h1>
            <button class="profile-button" onclick="goProfile()"><img src="profile.jpg" alt="Profile"></button>
          </div>          
      <% let i=0; %>
      <% for(i=0; i < gamelist.length; i++) { %>
          <%- include('templates/wishlistcard', {game: gamelist[i]})  %> 
      <% } %> 
    </div>
    <script>
        function goProfile() {
          window.location.href = "/saveProfile";
        }
        function goHome() {
          window.location.href = "/";
        }
        console.log()
        </script>
    <script src="../index.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  </body>
</html>


<%- include("templates/footer") %>