<div class="wishlist-card">
    <img src="<%=game.imgurl%>" alt="Game 3">
    <div class="wishlist-card-content">
      <h4><%=game.game_name %></h4>
      <p>Platform: <%=game.platform%></p>
      <p>Genre: <%=game.genre%></p>
    </div>
</div>